DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=django_dev
SQL_USER=django
SQL_PASSWORD=django
SQL_HOST=db_psql
SQL_PORT=5432
DATABASE=postgres

EMAIL_HOST_USER=projekt.io.email@gmail.com
EMAIL_HOST_PASSWORD=

POSTGRES_USER=django
POSTGRES_PASSWORD=django
POSTGRES_DB=django_dev

GOOGLE_API_ID=
GOOGLE_API_SECRET=
GOOGLE_API_PROJECT_ID=

USE_S3=1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
