*.pyc
__pycache
.DS_Store
.env.dev
.env.prod
.env.prod.db
docker-compose.prod.yml
Dockerfile.prod
.idea
app/celerybeat.pid
app/celerybeat-schedule
app/mediafiles/uploads
app/.coverage
app/htmlcov
app/.pytest_cache
.env.dev-sample
app/files/mediafiles/*
!app/files/mediafiles/defaults/