{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="w-full h-full bg-gray-100">
    {% include "dashboard/sidebar.html" %}
    <div id = "dashboard_content" class="pt-24 md:ml-4 md:pt-6">
      {% block dashboard_content %}
      {% endblock dashboard_content %}
    </div>
  </div>
{% endblock content %}

{% block extrascripts %}
const profileInfo = document.querySelector('#profile-info');
const profileImg = document.querySelector('#profile-img');

document.addEventListener('click', (e) => {
  let isInfoClicked = profileInfo.contains(event.target);
  let isImgClicked = profileImg.contains(event.target);
  if (isImgClicked) {
    profileInfo.classList.toggle('hidden');
  } else if (! isInfoClicked) {
    profileInfo.classList.add('hidden');
  }
});
{% endblock extrascripts %}
{% block extraheads %}
   <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
{% endblock extraheads %}