{% extends "base.html" %}
{% load static %}

{% block title %}Strona główna{% endblock title %}

{% block content %}
  <div class="w-full h-full bg-gray-100">
    {% include "dashboard/sidebar.html" %}
    <div id = "dashboard_content" class="pt-12 md:ml-4 md:pt-0 md:px-8 lg:px-16 xl:px-32">
      {% block dashboard_content %}
      {% endblock dashboard_content %}
    </div>
  </div>
{% endblock content %}
{% block extrascripts %}{% endblock extrascripts %}
{% block extraheads %}{% endblock extraheads %}
