{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="w-full h-full bg-gray-100">
    {% include "dashboard/sidebar.html" %}
    <div id = "dashboard_content" class="pt-24 md:ml-4 md:pt-6">
      {% block dashboard_content %}
      {% endblock dashboard_content %}
    </div>
  </div>
{% endblock content %}

{% block extrascripts %}
const profileInfo = document.querySelector('#profile-info');
const profileImg = document.querySelector('#profile-img');

document.addEventListener('click', (e) => {
  let isInfoClicked = profileInfo.contains(event.target);
  let isImgClicked = profileImg.contains(event.target);
  if (isImgClicked) {
    profileInfo.classList.toggle('hidden');
  } else if (! isInfoClicked) {
    profileInfo.classList.add('hidden');
  }
});
{% endblock extrascripts %}
{% block extraheads %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
{% endblock extraheads %}
{% block extravue %}
  <script type="text/javascript">
    var sidebar= new Vue({
        el: '#main',
        data () {
        return {
            isHidden: true,
            isHidden2: true,
            }
        },
    })
    var dropdown_container = new Vue({
        el: '#dropdown-container',
        data () {
        return {
            isHidden2: true
            }
        },
    })
  </script>
{% endblock extravue %}
