{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block dashboard_content %}
  <div class="font-sans leading-tight bg-grey-lighter p-4">
    <div class="bg-white pb-4 px-4 rounded-md w-full shadow-md">
      <h4 class="flex items-center pt-4 text-lg leading-6 font-medium text-gray-900 mb-2">
        Oceny
      </h4>

      <div class="overflow-x-auto mt-4">
        <table class="table-auto border-collapse w-full">
          <thead>
          <tr class="rounded-t-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
            <th class="px-4 py-2">Kurs</th>
            <th class="px-4 py-2">Rocznik</th>
            <th class="px-4 py-2">Średnia ocen</th>
            <th class="px-4 py-2">Ocena końcowa</th>
          </tr>
          </thead>
          <tbody class="text-sm font-normal text-gray-700">
          {% for course, data in avg_marks.items %}
            <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
              <td class="px-4 py-4"><a class="text-blue-400 hover:text-blue-500" href="{% url 'courses:courses-detail' data.course.slug %}">{{ course }}</a></td>
              <td class="px-4 py-4">{{ data.course.grade }}</td>
              <td class="px-4 py-4">{% if data.avg %}{{ data.avg }}%{% else %}-{% endif %}</td>
              <td class="px-4 py-4">{% if data.final_mark.mark_decimal %}{{ data.final_mark.mark_decimal }}{% else %}-{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <h4 class="flex items-center pt-4 text-md leading-6 font-medium text-gray-900 mb-2">
        Wszystkie oceny
      </h4>
      <div class="mb-4 border-b">
        <form action="" method="GET">
          <div class="mb-2 w-full sm:w-1/2 md:w-1/2">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              FILTRUJ WYSTAWIONE OCENY
            </label>
            <input name="course" placeholder="Nazwa kursu" type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" value="{{ query }}">
            <button type="submit" class="mt-2 text-sm font-bold mb-4 px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
              Filtruj
            </button>
            <a href="{% url 'users:marks' %}" class="mt-2 ml-2 text-sm font-bold mb-4 px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
              Resetuj
            </a>
          </div>
        </form>
      </div>
      {% if not marks %}
        Brak wystawionych ocen.
      {% else %}
        <div class="overflow-x-auto mt-6">
          <table class="table-auto border-collapse w-full mt-1">
            <thead>
            <tr class="rounded-t-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
              <th class="px-4 py-2">Kurs</th>
              <th class="px-4 py-2">Ocena</th>
              <th class="px-4 py-2">Opis</th>
              <th class="px-4 py-2">Prowadzący</th>
              <th class="px-4 py-2">Data</th>
            </tr>
            </thead>
            <tbody class="text-sm font-normal text-gray-700">
            {% for mark in marks %}
              <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
                <td class="px-4 py-4"><a class="text-blue-400 hover:text-blue-500" href="{% url 'courses:courses-detail' mark.course.slug %}">{{ mark.course.name }}</a></td>
                <td class="px-4 py-4">{{ mark.mark }}% ({{ mark.mark_decimal }})</td>
                <td class="px-4 py-4">{% if mark.description %}{{ mark.description }}{% else %}-{% endif %}</td>
                <td class="px-4 py-4"><a class="text-blue-400 hover:text-blue-500" href="{% url 'users:profile-detail' mark.teacher.pk %}">{{ mark.teacher.first_name }} {{ mark.teacher.last_name }}</a></td>
                <td class="px-4 py-4">{{ mark.date }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="mt-8 mb-2">
          <a href="{% url 'users:dashboard' %}" class="text-sm font-bold mt-2 mb-4 px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
            Przejdź do strony głównej
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}

{% block extraheads %}
  {{ block.super }}
  <style>
    thead tr th:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
    thead tr th:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
    tbody tr td:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 0px;}
    tbody tr td:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 0px;}
  </style>
{% endblock extraheads %}
