{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block dashboard_content %}
  <div class="font-sans leading-tight bg-grey-lighter p-4 md:pt-8">
    <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="bg-cover h-40" style="background-image: url('https://images.unsplash.com/photo-1522093537031-3ee69e6b1746?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a634781c01d2dd529412c2d1e2224ec0&auto=format&fit=crop&w=2098&q=80');"></div>
      <div class="border-b px-4 pb-6">
        <div class="text-center sm:text-left sm:flex mb-1">
          <div class="flex justify-center">
            <img class="h-48 w-48 sm:h-32 sm:w-32 rounded-full border-4 border-white -mt-16 mr-4" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="py-1">
            <div class="font-bold text-2xl mb-1">
              {{ profile.first_name }} {{ profile.last_name }}
              {% if profile.is_online %}
                <span class="ml-2 inline rounded-full bg-green-400 uppercase px-2 py-1 text-xs text-white font-bold">Online</span>
              {% else %}
                <span class="ml-2 inline rounded-full bg-red-400 uppercase px-2 py-1 text-xs text-white font-bold">Offline</span>
              {% endif %}
            </div>
            <div class="block md:flex md:items-center">
              <span class="text-sm text-gray-700">{{ profile.email }}</span>
            </div>
            <div class="inline-flex md:flex md:items-center mt-2">
              <div class="text-sm inline-flex text-grey-dark sm:flex items-center">
                <svg class="h-5 w-5 text-grey mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589"></path>
                </svg>
                {{ profile.address }}
              </div>
              <div class="text-sm ml-4 inline-flex text-grey-dark sm:flex items-center">
                <svg class="svg-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z"></path>
                </svg>
                {% if profile.is_student %}Student{% else %}Nauczyciel akademicki{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 py-4 border-b">
        {% block profile_content %}
        <div class="flex">
          <a href="{% url 'users:profile-edit' %}" class="rounded-full transition-all duration-200 border-2 border-grey font-medium text-sm text-gray-700 text-black px-4 py-2 hover:bg-gray-200 hover:text-gray-900">Edytuj profil</a>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full md:flex-1 md:w-1/2">
            <div class=" flex justify-between text-sm font-sans mt-2 pr-5">
              <span class="font-bold">Data dołączenia:</span>
              <span>{{ profile.date_joined|date:"d.m.Y (H:i)" }}</span>
            </div>
            <div class=" flex justify-between text-sm font-sans mt-2 pr-5">
              <span class="font-bold">Ostatnie logowanie:</span>
              <span>{{ profile.last_login|date:"d.m.Y (H:i)" }}</span>
            </div>
            <div class="">1</div>
          </div>
          <div class="w-full md:flex-1 md:w-1/2">
            <div class="">2</div>
            <div class="">2</div>
            <div class="">2</div>
          </div>
        </div>
        {% endblock profile_content %}
      </div>
      <div class="px-4 py-4">
        <div class="flex items-center text-grey-darker mb-4">
          <svg class="h-6 w-6 text-grey mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v2z"/></svg>
          <span><strong class="text-black">12</strong> Followers you know</span>
        </div>

      </div>
    </div>
  </div>
{% endblock dashboard_content %}