{% load static %}

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<div class="hidden md:block">
  <header class="flex justify-end items-center bg-white w-full py-2 px-4">
    <div class="ml-4 flex items-center md:ml-6">
      <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-gray-600 focus:outline-none focus:text-white focus:bg-gray-700">
        <i class="far fa-envelope"></i>
      </button>
      <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-gray-600 focus:outline-none focus:text-white focus:bg-gray-700">
        <i class="fas fa-cog"></i>
      </button>
      <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-gray-600 focus:outline-none focus:text-white focus:bg-gray-700">
        <i class="far fa-bell"></i>
      </button>
      <div class="ml-3 relative">
        <div>
          <button id="profile-img" class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:bg-gray-700 focus:shadow-solid" id="user-menu" aria-label="User menu" aria-haspopup="true">
            <img class="h-8 w-8 rounded-full" src="{{ request.user.image.url }}" alt="">
          </button>
        </div>
        <div id="profile-info" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg hidden">
          <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            <a href="{% url 'users:profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Mój profil</a>

            <a href="{% url 'users:profile-edit' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Edytuj profil</a>

            <a href="{% url 'users:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Wyloguj</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div id="main">
  <button id="openbtn" class="openbtn" @click="isHidden = !isHidden" :style="{marginLeft: isHidden ? '0px' : '200px'}">☰</button>
    <transition name="list">
    <div v-if="!isHidden" id="mySidebar" class="sidebar">
            <div>
    <a id = "logo_background" href="{% url 'users:dashboard' %}">
        <img src="{% static 'images/logo-removebg-preview.png' %}" class="h-12">
    </a>
  <a href="{% url "users:dashboard" %}">
        <span>
          <i class="fas fa-home"></i>
        </span>
        <span>Strona Główna</span>
  </a>
  <a href="#">
        <span>
          <i class="fas fa-calendar-minus"></i>
        </span>
        <span>Plan zajęć</span>
  </a>
  <a href="{% url "courses:courses" %}">
        <span>
          <i class="fas fa-home"></i>
        </span>
        <span>Kursy</span>
  </a>
  <a href="#">
        <span>
          <i class="fas fa-calendar"></i>
        </span>
        <span>Kalendarz</span>
  </a>
  <a href="#">
        <span>
          <i class="fas fa-graduation-cap"></i>
        </span>
        <span>Oceny</span>
  </a>
       <div id="dropdown-container" class="dropdown-container">
        <button @click="isHidden2 = !isHidden2" class="dropdown-btn">
          <span><i class="fas fa-user-circle"></i></span>
          <span>Moje konto</span>
          <span><i class="fa fa-caret-down"></i></span>
        </button>
           <div v-if="!isHidden2" >
            <a href="{% url 'users:profile' %}">Mój profil</a>
            <a href="#">Link #2</a>
            <a href="{% url 'users:logout' %}">Wyloguj</a>
               </div>
          </div>
</div>
</div>
</transition>
</div>