{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block dashboard_content %}
  <div id="labs" class="font-sans leading-tight bg-grey-lighter p-4 md:pt-8">
    <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="px-4 py-4 border-b border-gray-200 mx-2">
        <h4 class="text-lg leading-6 font-medium text-gray-900 mb-2">
          <a class="text-gray-700 transition-all duration-200 hover:text-gray-600" href="{% url 'courses:courses' %}">Kursy</a>
          / <a class="text-gray-700 transition-all duration-200 hover:text-gray-600" href="{% url 'courses:courses-detail' laboratory.course.slug %}">{{ laboratory.course.name }}</a> / Laboratorium
        </h4>
        <p class="text-xl text-gray-800"><span class="text-bold">Tytuł: </span>
          {{ laboratory.title }}
        </p>
        <p class="text-sm text-gray-600 mt-2"><span class="font-bold">Data wydarzenia: </span>
          <span class="{% if laboratory.was_held %}text-red-500{% endif %}">{{ laboratory.date|date:"d.m.Y" }}</span>
        </p>
        <p class="text-sm text-gray-600">
          <span class="font-bold">Opis:</span> {% if laboratory.description %}{{ laboratory.description }}{% else %}-{% endif %}
        </p>
      </div>
      <div class="px-4 py-4 mx-2">
        <h4 class="text-lg leading-6 font-medium text-gray-900 transition-all duration-200">
          Zadania domowe
        </h4>
        {% if not laboratory.assignments.all %}
          <p class="text-sm text-gray-800 mb-4">Brak zadan dla tego laboratorium</p>
        {% endif %}
        {% for assignment in laboratory.assignments.all %}
          <div class="flex mb-4">
            <div class="flex-shrink-0">
              <div class="flex flex-col items-center justify-center h-12 w-12 rounded-md bg-green-400 text-white">
                {{ forloop.counter }}
              </div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900 transition-all duration-200">
                {{ assignment.title }}
              </h4>
              <p class="text-sm text-gray-600"><span class="font-medium">Prowadzacy: </span>
                <a href="{% url 'users:profile-detail' assignment.teacher.pk %}"
                   class="text-blue-400 hover:text-blue-500"
                >
                  {{ assignment.teacher.first_name }}
                  {{ assignment.teacher.last_name }}
                </a>
              </p>
              <p class="text-sm text-gray-600"><span class="font-medium">Termin oddania: </span>
                {{ assignment.deadline|date:"d.m.Y" }}
              </p>
              <p class="text-sm text-gray-600 mb-2"><span class="font-medium">Tresc: </span>
                {{ assignment.content }}
              </p>
              {% if request.user.is_teacher %}
                <span @click="deleteAssignment({{ forloop.counter0 }})" class="mt-2 cursor-pointer text-xs font-bold px-1 transition-all duration-200 py-1 px-2 rounded-lg bg-red-200 text-gray-800 hover:text-gray-900 hover:bg-red-300">
                  USUN
                </span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="px-4 py-4 mx-2">
        <div class="mt-4 mb-4">
          <a class="text-sm font-bold transition-all duration-200 py-2 px-4 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300" href="{% url 'courses:courses-detail' laboratory.course.slug %}">Powrót do kursu</a>
          {% if request.user.is_teacher %}
            <a class="text-sm ml-2 font-bold transition-all duration-200 py-2 px-4 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300" href="{% url 'courses:laboratory-edit' laboratory.pk %}">Edytuj</a>
            <a class="text-sm ml-2 font-bold transition-all duration-200 py-2 px-4 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300" href="{% url 'courses:assignments-create' laboratory.pk %}">Dodaj zadanie</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock dashboard_content %}

{% block extraheads %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock extraheads %}

{% block extravue %}
  <script type="text/javascript">
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#labs',
      data: {},
      methods: {
        deleteAssignment: function (num) {
          Swal.fire({
            text: "Czy na pewno chcesz usunąć to zadanie?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Tak!',
          }).then((result) => {
            if (result.isConfirmed) {
              const pk = "{{ laboratory.pk }}"
               window.location.href = `/courses/laboratory/${pk}/assignments/delete/${num}/`
            }
          })
        }
      }
    });
  </script>
{% endblock extravue %}
