{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block title %}Oceny{% endblock title %}

{% block dashboard_content %}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
  <div id="marks" class="font-sans leading-tight bg-grey-lighter p-4 md:pt-8">
    <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="px-4 py-4 mx-2">
        <h4 class="text-lg leading-6 font-medium text-gray-900 mb-2">
          <a class="text-gray-700 transition-all duration-200 hover:text-gray-600" href="{% url 'courses:courses' %}">Kursy</a>
          / <a class="text-gray-700 transition-all duration-200 hover:text-gray-600" href="{% url 'courses:courses-detail' course.slug %}">{{ course.name }}</a> /
          Wykaz ocen
        </h4>
        <div class="mb-4 border-b">
          <form action="" method="GET">
            <div class="mb-2 w-full sm:w-1/2 md:w-1/2">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                FILTRUJ WYSTAWIONE OCENY
              </label>
              <input value="{{ student }}" name="student" placeholder="Imię i nazwisko studenta" type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <button type="submit" class="mt-2 text-sm font-bold mb-4 px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
                Filtruj
              </button>
              <a href="{% url 'courses:courses-total-marks' course.slug %}" class="mt-2 ml-2 text-sm font-bold mb-4 px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
                Resetuj
              </a>
            </div>
          </form>
        </div>
        {% if students %}
          <div class="overflow-x-auto mt-6">
            <table class="table-auto border-collapse w-full mt-1">
              <thead>
              <tr class="rounded-t-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
                <th class="px-4 py-2">Student</th>
                <th class="px-4 py-2">Oceny cząstkowe</th>
                <th class="px-4 py-2">Ocena końcowa</th>
              </tr>
              </thead>
              <tbody class="text-sm font-normal text-gray-700">
              {% for student in students %}
                <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
                  <td class="px-4 py-4"><a class="text-blue-400 hover:text-blue-500" href="{% url 'users:profile-detail' student.pk %}">{{ student.first_name }} {{ student.last_name }}</a></td>
                  <td class="px-4 py-4">{% if not student.courses_marks.all %}<a class="text-blue-400 hover:text-blue-500" href="{% url 'courses:courses-marks' course.slug %}?student={{ student.first_name }}+{{ student.last_name }}">Edytuj</a>{% else %}{% for mark in student.courses_marks.all %}{% if mark.course == course %}{{ mark.mark }}%{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}<a class="text-blue-400 hover:text-blue-500 ml-2" href="{% url 'courses:courses-marks' course.slug %}?student={{ student.first_name }}+{{ student.last_name }}">Edytuj</a>{% endif %} </td>
                  <td class="px-4 py-4">{% if student in course.student_has_final_mark %}{{ student.courses_final_marks.first.mark_decimal }}<a class="ml-2 text-blue-400 hover:text-blue-500" href="{% url 'courses:edit-final-mark' course.slug student.pk %}">Edytuj</a>{% else %}<a class="text-blue-400 hover:text-blue-500" href="{% url 'courses:set-final-mark' course.slug student.pk %}">Wstaw</a>{% endif %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          Brak wystawionych ocen.
        {% endif %}
      </div>
    </div>
  </div>
{% endblock dashboard_content %}
