{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block title %}Edytuj grupy{% endblock title %}


{% block dashboard_content %}
  <div class="font-sans leading-tight bg-grey-lighter p-4 md:pt-8">
    <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="px-4 py-4 border-b-2 border-gray-200 mx-2">
        <h4 class="text-lg leading-6 font-medium text-gray-900 mb-2">
          <a class="text-gray-700 transition-all duration-200 hover:text-gray-600" href="{% url 'courses:courses' %}">Kursy</a> /
          <a class="text-gray-700 transition-all duration-200 hover:text-gray-600" href="{% url 'courses:courses-detail' group.course.slug %}">{{ group.course.name }}</a> /
          Edytuj grupę
        </h4>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full sm:w-2/3 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Nazwa grupy
              </label>
              {{ form.name }}
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full sm:w-2/3 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Studenci
              </label>
              {{ form.students }}
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6 px-3">
            <button type="submit" class="text-sm font-bold mt-2 mb-4 px-3 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
              Aktualizuj
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock dashboard_content %}
