{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block dashboard_content %}
  <div class="font-sans leading-tight bg-grey-lighter p-4 md:pt-8">
    <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="px-4 py-4 border-b-2 border-gray-200 mx-2">
        <h4 class="text-lg leading-6 font-medium text-gray-900 mb-2"><a class="text-gray-700 transition-all duration-200 hover:text-gray-600" href="{% url 'courses:courses' %}">Kursy</a> / {{ course.name }}</a></h4>
        <p class="text-sm text-gray-600"><span class="text-bold">Główny prowadzący: </span>
          <a href="{% url 'users:profile-detail' course.head_teacher.pk %}" class="text-blue-500 hover:text-blue-400">
            {{ course.head_teacher.first_name }} {{ course.head_teacher.last_name }}
          </a>
        </p>
        <p class="mt-1 text-sm text-gray-600"><span class="text-bold">Prowadzący: </span>
          {% for teacher in course.teachers.all %}
            <a href="{% url 'users:profile-detail' teacher.pk %}" class="text-blue-500 hover:text-blue-400">
              {{ teacher.first_name }} {{ teacher.last_name }}{% if not forloop.last %}, {% endif %}
            </a>
          {% endfor %}
        </p>
        <p class="text-sm leading-6 text-gray-600">{{ course.description }}</p>
        <div class="flex mt-4 mb-4">
          <a href="#" class="text-sm font-bold px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300 mr-2">
            Ogłoszenia
          </a>
          <a href="#" class="text-sm font-bold px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300 mr-2">
            Opcja 1
          </a>
          {% if request.user.is_teacher %}
            <a href="{% url 'courses:courses-edit' course.slug %}" class="text-sm font-bold px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
              Edytuj kurs
            </a>
          {% endif %}
        </div>
        <button id="details-btn" class="cursor-pointer mt-2 text-sm font-bold mb-2 px-4 transition-all duration-200 py-2 px-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900 hover:bg-gray-300">
          <span class="">Szczegoly</span>
          <svg id="indicator" fill="currentColor" viewBox="0 0 20 20" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="course__details mt-2">
          <div class="text-sm text-gray-600">
            <p class="font-bold">Opis kursu:</p>
            <p>{% if course.description %}{{ course.description }}{% else %}-{% endif %}</p>
          </div>
        </div>
      </div>
      <div class="px-4 py-4 mx-2">
        <h4 class="text-lg leading-6 font-medium text-gray-900 mb-2">Wykłady</a></h4>
        {% if not available_lectures %}
        <p class="text-gray-700 text-sm">
          Nie znaleziono żadnego dostępnego wykładu.
        </p>
        {% endif %}
        {% for lecture in available_lectures %}
          <div class="flex mb-4">
            <div class="flex-shrink-0">
              <div class="flex flex-col items-center justify-center h-12 w-12 rounded-md {% if lecture.was_held %}bg-blue-400{% else %}bg-green-400{% endif %} text-white">
                {{ forloop.counter }}
              </div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900 transition-all duration-200 hover:text-gray-600">
                <a style="cursor: pointer;" href="{% url 'courses:lectures-detail' lecture.pk %}">{{ lecture.title }}</a>
              </h4>
              <p class="text-sm text-gray-600"><span class="font-medium">Data wydarzenia: </span>
                {{ lecture.date|date:"d.m.Y (H:i)" }}{% if lecture.was_held %}X{% endif %}
              </p>
              <p class="text-sm text-gray-600"><span class="font-medium">Szczegóły: </span>
                {{ lecture.description }}
              </p>
              <p class="text-sm text-gray-600"><span class="text-bold">Dodatkowe materiały: </span>
                {% if lecture.files.all %}
                  {% for file in lecture.files.all %}
                    {{ file }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% else %}
                  -
                {% endif %}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock dashboard_content %}

{% block extraheads %}
  <style type="text/css">
  .course__details {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
  }
  .course__details--active {
    max-height: 100%;
  }
  .indicator-active {
    transform: rotate(180deg);
  }
  </style>
{% endblock extraheads %}

{% block extrascripts %}
  {{ block.super }}
  const button = document.querySelector('#details-btn');
  const detailsContent = button.nextElementSibling;
  const indicator = document.querySelector('#indicator');

  button.addEventListener('click', () => {
    button.classList.toggle('button-active');
    indicator.classList.toggle('indicator-active');
    detailsContent.classList.toggle('course__details--active');
  });
{% endblock extrascripts %}