* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

.modal {
    display: none;
  }
.open-modal {
  display: block;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  padding: 3%;
  max-width: 100%;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}


.right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("../images/login_page.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.header > h2 {
  margin: 0;
  color: #547EBE;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 3%;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #0f7ef1;
}

.login-button > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #d1dffa 0%, #32568d 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
  justify-content: center;
  position: relative;
  width: 100%
}

.login-button  > button :hover{
  color: #547EBE;
}

#modal-trigger {
  color: #547EBE;
  transition: ease-in-out;
}

#modal-trigger:focus{
  outline: none;
}

#flex_centered {
  display: flex;
  align-items: center;
}

#flex_centered > label {
  color: #808080;
  line-height: 1.25rem;
  font-size: 0.875rem;
  display: block;
  padding: 0.5rem;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.first_time_check {
  line-height: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 600px;
  }
}