body {
   font-family: 'Rubik', sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #111;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover, .dropdown-btn:hover {
  color: #A9A9A9;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #60a5fa;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  width: fit-content;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 10px;}
  .sidebar a, .dropdown-btn {font-size: 15px;}
}
.active {
  color: #111;
}

.dropdown-container {
  display: none;
  background-color: white;
  padding-left: 8px;
}
#logo_background{
    padding-bottom: 15px;
}