#mySidebar{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  padding-top: 60px;
  white-space: nowrap;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #60a5fa;
  color: white;
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}
.sidebar a:hover, .dropdown-btn:hover {
  color: #A9A9A9;
}
.openbtn:hover {
  background-color: #444;
}

#main {
  padding: 16px;
  width: fit-content;
}
.sidebar a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #111;
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 10px;}
  .sidebar a, .dropdown-btn {font-size: 15px;}
}
#logo_background{
    width: 145px;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-enter,
.list-leave-to {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
    transition: opacity .5s;
}