{% load static i18n admin_urls %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>  {% block extraheads %}{% endblock extraheads %}
  <title>Raven | {% block title %}{% endblock title %}</title>
</head>
<body class="bg-gray-100">
<div id="app">
  {% block content %}{% endblock content %}
</div>
<script>
  const messagesArr = [
    {% for message in messages %}{
    tag:"{{ message.tags }}",
        msg: "{{ message }}" },
  {% endfor %}
  ];
  messagesArr.forEach(msg => {
    if (msg.tag === "info") {
      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: msg.msg,
        showConfirmButton: false,
        timer: 2500
      })
    } else {
      Swal.fire({
        position: 'top-end',
        icon: 'error',
        title: msg.msg,
        showConfirmButton: false,
        timer: 2000
      })
    }
  })
</script>
<script>{% block extrascripts %}{% endblock extrascripts %}</script>
{% block extravue %}{% endblock extravue %}
<script src="{% static "js/main.js" %}"></script>
</body>
</html>